html {
    --wiki-body-background-image: url(/images/8/80/Site-background.jpg);
    --wiki-body-background-color: #f6f6f6;
    --wiki-body-background-color--rgb: 246,246,246;
    --wiki-body-background-color--secondary: #ffffff;
    --wiki-body-background-color--secondary--rgb: 255,255,255;
    --wiki-body-dynamic-color: #ffffff;
    --wiki-body-dynamic-color--rgb: 255, 255, 255;
    --wiki-body-dynamic-color--inverted: #000000;
    --wiki-body-dynamic-color--inverted--rgb: 0, 0, 0;
    --wiki-body-dynamic-color--secondary: #dddddd;
    --wiki-body-dynamic-color--secondary--rgb: 221, 221, 221;
    --wiki-body-dynamic-color--secondary--inverted: #333333;
    --wiki-body-dynamic-color--secondary--inverted--rgb: 51, 51, 51;

    --wiki-content-background-color: #ffffff;
    --wiki-content-background-color--rgb: 255, 255, 255;
    --wiki-content-background-opacity: 1;
    --wiki-content-background-color--secondary: #fbfbfb;
    --wiki-content-background-color--secondary--rgb: 211, 194, 176;
    --wiki-content-border-color: #a7d7f9;
    --wiki-content-border-color--rgb: 167, 215, 249;
    --wiki-content-text-color: #202122;
    --wiki-content-text-color--rgb: 11,7,6;
    --wiki-content-link-color: #0645ad;
    --wiki-content-link-color--rgb: 6, 69, 173;
    --wiki-content-link-label-color: #ffffff;
    --wiki-content-link-label-color--rgb: 255, 255, 255;
    --wiki-content-link-color--visited: #663366;
    --wiki-content-link-color--visited--rgb: 102, 51, 102;
    --wiki-content-redlink-color: #ba0000;
    --wiki-content-redlink-color--rgb: 186, 0, 0;
    --wiki-content-text-mix-color: #909090;
    --wiki-content-text-mix-color--rgb: 144, 144, 144;
    --wiki-content-text-mix-color-95: #f4f4f4;
    --wiki-content-text-mix-color-95--rgb: 244, 244, 244;
    --wiki-content-dynamic-color: #000000;
    --wiki-content-dynamic-color--rgb: 0, 0, 0;
    --wiki-content-dynamic-color--inverted: #ffffff;
    --wiki-content-dynamic-color--inverted--rgb: 255, 255, 255;
    --wiki-content-dynamic-color--secondary: #333333;
    --wiki-content-dynamic-color--secondary--rgb: 51, 51, 51;
    --wiki-content-dynamic-color--secondary--inverted: #dddddd;
    --wiki-content-dynamic-color--secondary--inverted--rgb: 221, 221, 221;

    --wiki-heading-color: var(--wiki-content-text-color);
    --wiki-heading-color--rgb: var(--wiki-content-text-color--rgb);
    --wiki-heading-font-family: serif;

    --wiki-accent-color: #3366cc;
    --wiki-accent-color--rgb: 51, 102, 204;
    --wiki-accent-color--hover: #447ff5;
    --wiki-accent-color--hover--rgb: 68, 127, 245; 
    --wiki-accent-label-color: #ffffff;
    --wiki-accent-label-color--rgb: 255, 255, 255;

    --wiki-sidebar-background-color: var(--wiki-content-background-color);
    --wiki-sidebar-background-color--rgb: var(--wiki-content-background-color--rgb);
    --wiki-sidebar-background-opacity: 0;
    --wiki-sidebar-border-color: transparent;
    --wiki-sidebar-border-color--rgb: 0, 0, 0;
    --wiki-sidebar-link-color: var(--wiki-content-link-color);
    --wiki-sidebar-link-color--rgb: var(--wiki-content-link-color--rgb);
    --wiki-sidebar-heading-color: var(--wiki-heading-color);
    --wiki-sidebar-heading-color--rgb: var(--wiki-heading-color--rgb);

    --wiki-navigation-background-color: #a7d7f9;
    --wiki-navigation-background-color--rgb: 167, 215, 249;
    --wiki-navigation-background-color--secondary: #e8f2f8;
    --wiki-navigation-background-color--secondary--rgb: 232, 242, 248;
    --wiki-navigation-border-color: var(--wiki-content-border-color);
    --wiki-navigation-border-color--rgb: var(--wiki-content-border-color--rgb);
    --wiki-navigation-text-color: var(--wiki-content-link-color);
    --wiki-navigation-text-color--rgb: var(--wiki-content-link-color--rgb);
    --wiki-navigation-selected-background-color: var(--wiki-content-background-color);
    --wiki-navigation-selected-background-color--rgb: var(--wiki-content-background-color--rgb);
    --wiki-navigation-selected-border-color: var(--wiki-navigation-border-color);
    --wiki-navigation-selected-border-color-rgb: var(--wiki-navigation-border-color--rgb);
    --wiki-navigation-selected-text-color: var(--wiki-content-text-color);
    --wiki-navigation-selected-text-color-rgb: var(--wiki-content-text-color--rgb);

    --wiki-alert-color: #bf0017;
    --wiki-alert-color--rgb: 191,0,23;
    --wiki-alert-label-color: #ffffff;
    --wiki-alert-label-color--rgb: 255, 255, 255;
    --wiki-warning-color: #cf721c;
    --wiki-warning-color--rgb: 207,114,28;
    --wiki-warning-label-color: #000000;
    --wiki-warning-label-color--rgb: 0, 0, 0;
    --wiki-success-color: #0c742f;
    --wiki-success-color--rgb: 12, 116, 47;
    --wiki-success-label-color: #ffffff;
    --wiki-success-label-color--rgb: 255, 255, 255;
    
    --wiki-icon-general-filter: ;
    --wiki-icon-to-link-filter: invert(15%) sepia(42%) saturate(6899%) hue-rotate(215deg) brightness(93%) contrast(95%);
}
